<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js" ></script>
    <style>
        body {
            width: 100%;
            height: 100vh;
            margin: 0;
            height: 0;
        }
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 500px;
            height: 500px;
            border: 1px solid;
        }
        #login {
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #main {
            display: none;
        }

        #send {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            border: 1px solid;
            box-sizing: border-box;
            display: flex;
        }

        #send #msgInput {
            border: 0;
            box-sizing: border-box;
            padding: 3px 6px;
            width: 85%;
        }

        #send #sendBtn {
            background-color: yellow;
            border: none;
            box-sizing: border-box;
            padding: 10px;
            width: 15%;
        }
    </style>
</head>
<body>
    <div class="content">
        <div>귀여운 동물 카톡</div>
        <div id="login">
            <h1>로그인</h1>
            <input type="text" id="username">
            <button id="loginBtn">접속</button>
        </div>
        <div id="main">
            <select name="" id="rooms">
                <option value="1">병아리 방</option>
                <option value="2">오리 방</option>
                <option value="3">참새 방</option>
            </select>
            <ul id="message"></ul>
            <div id="send">
                <input type="text" name="" id="msgInput">
                <button id="sendBtn">보내기</button>
            </div>
        </div>
    </div>
</body>
<script>
    let socket = null;
    loginBtn.onclick = () => {
        login.style.display = "none";
        main.style.display = "block";
        if (!socket)
            socket = io.connect();

        const room = rooms.options[rooms.selectedIndex].value;
        socket.emit("joinRoom", room, username.value);

        socket.on("joinRoom", (room, name) => {
            const li = document.createElement("li");
            li.classList.add("join-text");
            li.innerHTML = `${room}에 ${name}가 들어왔다.`;
            message.append(li);
        })

        socket.on("disconnect", (room, name) => {
            const li = document.createElement("li");
            li.classList.add("join-text");
            li.innerHTML = `${room}에 ${name}가 나갔다.`;
            message.append(li);
        })
    }

    rooms.onchange = (e) => {
        console.log(e.target.selectedIndex);
        console.log(e.target.options);
        console.log(e.target.options[e.target.selectedIndex].value);
    }
</script>
</html>