* {
    margin: 0;
    padding: 0;
}

/* ul도 스타일을 주고 li도 스타일을 각각 준다. */
ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    padding: 20px;
    background-color: lightgray;
    color: gray;
    font-size: 14px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color:aliceblue;
    color: black;
}

.box {
    overflow: hidden;
    width: 500px;
    height: 0;
    background-color: aliceblue;
}

#tab1:checked ~ .con1 {
    height: 500px;
    transition: 0.8s;
}

#tab2:checked ~ .con2 {
    height: 500px;
    transition: 0.8s;
}

#tab3:checked ~ .con3 {
    height: 500px;
    transition: 0.8s;
}

.box2 {
    width: 500px;
    height: 500px;
    background-color: brown;
}