body {
    margin: 0;
    padding: 0;
}

.seat {
    width: 30px;
    height: 30px;   
    float: left;
    margin: 2px;
    border-radius: 4px;
}

.line {
     overflow: hidden;
}

.seat.enable {
    background-color: gray;
}

.seat.disable {
    background-color: lightcoral;
}