<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
</head>
<body>
    <h1>마이페이지</h1>
    <form method="post">
        <label for="">아이디 : <%= data.id %></label>
        <label for="">이름</label>
        <input type="text" name="name" value=<%= data.name %>>
        <br>
        <label for="">프로필 이미지</label>
        <br>
        <img style="width: 100px; height: 100px;" alt="" src=<%= data.img %>>
        <br>
        <input type="file" name="image" id="popupImage" style="display: none;">
        <label for="popupImage" style="cursor: pointer; border: 1px solid;">이미지 업로드</label>
        <br>
        <label for="">비밀번호</label>
        <input type="password" name="pw">
        <button>회원 수정</button>
    </form>
</body>
</html>