<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3000/shop/create" method="post">
        <label for="">상품 이름</label>
        <input type="text" name="name" id="">
        <label for="">상품 가격</label>
        <input type="text" name="price" id="">
        <button>추가</button>
    </form>
</body>
</html>