<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 페이지</title>
</head>
<body>
    <div>
        <label for="">제목</label>
        <div><%= title %></div>
        <label for="">내용</label>
        <div><%= content %></div>
        <a href="/modify/<%= no %>">수정</a>
        <a href="/delete/<%= no %>">삭제</a>
    </div>
    <a href="/list">돌아가기</a>
</body>
</html>